<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEICOLOEV- Welcome u</title>
</head>
<body>
    <center>
        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com"> 
    <h1>Welcome EV Era</h1>
    <h1>Register to start Era Of EV the future</h1>
    <a href="register">Register ev Era</a>
    <h1> start Era Of EV  </h1>
    <a href="login">Welcome-Back</a>
</center>
</body>
</html>